<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <title>Empleados con Mayor Salario</title>
    </head>
    <body>
        <div class="container">
            <h1>Empleados con Mayor Salario en la Empresa</h1>
            <form method="post" th:action="@{/Search/busqueda}">
                <input name="searchField" class="form-control mb-3" type="text" placeholder="Salario a buscar"/>
            </form>
            <a class="btn btn-info" th:href="@{/Salario}">Limpiar</a>
            <a class="btn btn-primary" th:href="@{/Search}">Regresar</a>
            <table class="table table-sm">
                <thead>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Fecha de Inicio</th>
                    <th>Fecha Fin</th>
                    <th>Puesto</th>
                </thead>
                <tbody>
                    <tr th:each="item : ${lista}">
                        <td th:text="${item.name}"></td>
                        <td th:text="${item.last}"></td>
                        <td th:text="${item.fechainicio}"></td>
                        <td th:text="${item.fechafin}"></td>
                        <td th:text="${item.puesto}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>