<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <title>Reporte de salario máximo por departamento</title>
</head>
<body>
<div class="container">
    <h1>Reporte de salario máximo por departamento</h1>
    <a class="btn btn-primary" th:href="@{/Search}">Regresar</a>
    <table class="table table-sm">
        <thead>
        <tr>
            <th>ID</th>
            <th>Departamento</th>
            <th>Promedio</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="item : ${lista}">
                <td th:text="${item.depaid}"></td>
                <td th:text="${item.depaname}"></td>
                <td th:text="${item.promedio}"></td>
                <td><a class="btn btn-primary" th:href="@{'/Search/listar?id=' + ${item.depaid}}">Info</a></td>
            </tr>
            
        </tbody>
    </table>
</div>
</body>
</html>